{% extends 'base.html' %}
{% block navbar %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
    <!-- <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link active" aria-current="page">Login</a></li> -->
    
    {% if logged_in %}
    <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Log Out</a></li>
    {% else %}
    <li class="nav-item"><a href="{{ url_for('sign_up') }}" class="nav-link">Sign Up</a></li>
    {% endif %}
    <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
  </ul>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div><h2 style="text-align: center;"> Hey {{ username }}</h2></div>  
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
      
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-3 fw-light fs-5">Add Todo</h5>
            <form action="{{ url_for('create_todo') }}" method="post">

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" name="heading" required autofocus>
                <label for="floatingInputUsername">Heading</label>
              </div>

              <div class="form-floating mb-3">
                <textarea class="form-control" id="floatingInput" name="description"></textarea>
                <label for="floatingInput">Description</label>
              </div>

              <!-- <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"></label>
              </div> -->

              <!-- <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password">
                <label for="floatingPasswordConfirm">Confirm Password</label>
              </div> -->

              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Add</button>
              </div>

              <!-- <a class="d-block text-center mt-2" href="{{ url_for('login') }}">Have an account? Log In</a> -->

              

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}