{% extends 'base.html' %}
{% block navbar %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Log In</a></li>
    <li class="nav-item"><a href="{{ url_for('sign_up') }}" class="nav-link">Sign Up</a></li>
    {% if logged_in %}
    <li class="nav-item"><a href="#" class="nav-link">Log Out</a></li>
    {% endif %}
    <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
</ul>
<br>
{% if message %}
    <br>
    <div class="container" style="text-align: center; padding-top: 10%;"><h2>{{ message }}</h2></div>
{% endif %}
{% endblock %}